h1 {
    text-align: center;
}

.palmeiras{
    border: 10px solid green;
    text-align: center;
    height: 50px;
    width: 30rem;
    padding: 10px;
    margin: auto;
}

.corinthias{
    border: 10px solid black;
    text-align: center;
    height: 60px;
    width: 20rem;
    padding: 40px;
    margin: 149px;
}

.são-paulo{
    border: 10px solid red;
    text-align: right;
    height: 40px;
    width: 20rem;
    padding: 15px;
    margin: auto;
}

.santos{
    border: 10px solid black;
    text-align: center;
    height: 200px;
    margin: 60px;
    padding: 80px;
    width: 50px;
}